*.swp
*.swo
site/*
*.ucdb
covhtmlreport/*
*.vstf
wlft*
*nfs*
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
Bender.local
build/
*.vcd
*.fsdb
*.log
*.out
*.jou
*.o
target/sim/vsim/compile.dcls.tcl
target/sim/vsim/transcript
target/sim/vsim/work/*
target/sim/vsim/*.ini
target/sim/vsim/*.wlf
target/sim/vsim/trace_hart*.log
target/sim/vlt/compile.dcls.tcl
